@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --cor-fonte-principal: #FFFFFF;
}

body {
  margin: 0;
  background-color: #121315;
  height: 100%;
}